$active_color : #000000;
$green : #4CAF50;
$dark-green: #347c36;
$white: #FFFFFF;

// List of States
$states : "AL","AK","AS","AZ","AR","CA","CO","CT","DE","DC","FM","FL","GA","GU","HI","ID","IL","IN","IA","KS","KY","LA","ME","MH","MD","MA","MI","MN","MS","MO","MT","NE","NV","NH","NJ","NM","NY","NC","ND","MP","OH","OK","OR","PW","PA","RI","SC","SD","TN","TX","UT","VT","VI","VA","WA","WV","WI","WY";

html,
body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;

    #map{
      @each $state in $states {
        &.#{$state}{
          svg{
            ##{$state}{
                fill: $active_color;
            }
          }
        }
      }
    }
    #button-grid{
        max-width: 800px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        gap: 1em .5em;
        .button{
            background-color: $green; /* Green */
            border: none;
            border-radius: 20px;
            color: $white;
            padding: .5em 1em;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
            &:hover{
                background-color: $dark-green;
            }
        }
    }
}